<hr>
<br>
<h2>Single Contact</h2>
<hr>
<div class="col-12" >
        <div class="panel panel-info ">
          <div class="panel-heading ">
            <h3 class="panel-title">ID: <%= @contact.id %></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
              <div class=" col-md-9 "> 
                <table class="table table-user-information">
                  <tbody>
                      <tr>
                          <td>Name:</td>
                          <td><%= @contact.name %></td>
                        </tr>
                    <tr>
                      <td>Email:</td>
                      <td><a href=""><%= @contact.email %></a></td>
                    </tr>
                    <tr>
                      <td>Phone Number:</td>
                      <td><%= @contact.cell %>- (Mobile)</td>
                    </tr>
                    <tr>
                      <td>Date of Birth</td>
                      <td><%= @contact.date %></td>
                    </tr>              
                  </tbody>
                </table>
            
            <%= link_to "Update", edit_contact_path(@contact), class: "btn btn-primary" %>
            <%= link_to "Delete", contact_path(@contact), method: :delete, data: {confirm: "Are you sure?"} ,class: "btn btn-danger" %>
            
              </div>            

            </div>

          </div>
               <div class="panel-footer default">
                    
                    <%= link_to "Go Home", root_path, class: "btn btn-dark" %>
                  </div>
          
        </div>
      </div>